.form {
    margin-top: 2.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 77%;
    padding: 1rem;

    & .errors {
        background: var(--color-background);
        font-size: 11px;
        margin-top: 30px;
        padding: 16px 20px;
        border-radius: 26px;
        border: 3px solid var(--color-primD1);
        font-weight: 700;
        align-items: center;
        color: var(--color-primD1);
        cursor: auto;
    }
}