.text {
    color: var(--light-color);
    font-family: var(--font-family);
    font-weight: 500;

    // SIZES
    &.sm {
        font-size: 1rem;
    }

    &.md {
        font-size: 1.2rem;
    }

    &.lg {
        font-size: 1.5rem;
    }

    &.xl {
        font-size: 2rem;
    }

    // WEIGHT
    &.light {
        font-weight: 300;
    }

    &.normal {
        font-weight: 500;
    }

    &.bold {
        font-weight: 600;
    }
}