.loaderContainer {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        position: relative;
        width: 75px;
        height: 100px;
        background-repeat: no-repeat;
        background-image: linear-gradient(#DDD 50px, transparent 0),
            linear-gradient(#DDD 50px, transparent 0),
            linear-gradient(#DDD 50px, transparent 0),
            linear-gradient(#DDD 50px, transparent 0),
            linear-gradient(#DDD 50px, transparent 0);
        background-size: 8px 100%;
        background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
        animation: pillerPushUp 4s linear infinite;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto;
            left: 0;
            width: 11px;
            height: 11px;
            background: var(--color-prim);
            border-radius: 50%;
            animation: ballStepUp 4s linear infinite;
        }
    }

    @keyframes pillerPushUp {

        0%,
        40%,
        100% {
            background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px
        }

        50%,
        90% {
            background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px
        }
    }

    @keyframes ballStepUp {
        0% {
            transform: translate(0, 0)
        }

        5% {
            transform: translate(8px, -14px)
        }

        10% {
            transform: translate(15px, -10px)
        }

        17% {
            transform: translate(23px, -24px)
        }

        20% {
            transform: translate(30px, -20px)
        }

        27% {
            transform: translate(38px, -34px)
        }

        30% {
            transform: translate(45px, -30px)
        }

        37% {
            transform: translate(53px, -44px)
        }

        40% {
            transform: translate(60px, -40px)
        }

        50% {
            transform: translate(60px, 0)
        }

        57% {
            transform: translate(53px, -14px)
        }

        60% {
            transform: translate(45px, -10px)
        }

        67% {
            transform: translate(37px, -24px)
        }

        70% {
            transform: translate(30px, -20px)
        }

        77% {
            transform: translate(22px, -34px)
        }

        80% {
            transform: translate(15px, -30px)
        }

        87% {
            transform: translate(7px, -44px)
        }

        90% {
            transform: translate(0, -40px)
        }

        100% {
            transform: translate(0, 0);
        }
    }

    // & .loader {
    //     position: relative;
    //     width: 64px;
    //     height: 64px;
    //     background-color: rgba(0, 0, 0, 0.5);
    //     transform: rotate(45deg);
    //     overflow: hidden;

    //     &::after {
    //         content: '';
    //         position: absolute;
    //         inset: 8px;
    //         margin: auto;
    //         background: var(--color-background);
    //     }

    //     &::before {
    //         content: '';
    //         position: absolute;
    //         inset: -15px;
    //         margin: auto;
    //         background: var(--color-prim);
    //         animation: diamondLoader 2s linear infinite;
    //     }
    // }

    // @keyframes diamondLoader {

    //     0%,
    //     10% {
    //         transform: translate(-64px, -64px) rotate(-45deg)
    //     }

    //     90%,
    //     100% {
    //         transform: translate(0px, 0px) rotate(-45deg)
    //     }
    // }
}