.input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2rem solid #E91E63;
    background: rgba(#e21f60, .4);
    border-radius: .2rem .2rem 0 0;
    padding: .55rem;
    color: var(--dark-color);

    &::placeholder {
        color: #505050ab;
    }
}