.card {
    border-radius: 16px;
    max-width: max-content;
    padding: 2rem;

    &.plan {
        padding: .65rem;
        background-color: var(--color-prim);
        color: var(--light-color);

        & .inner {
            padding: 1.75rem;
            padding-top: 2.5rem;
            background-color: var(--dark-color);
            border-radius: 14px;
            position: relative;
            overflow: hidden;
        }

        & .pricing {
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--color-prim);
            border-radius: 99rem 0 0 99rem;
            display: flex;
            align-items: center;
            padding: .625rem .75rem;
            color: var(--dark-color);

            small {
                color: var(--dark-color);
                font-size: .9rem;
            }

        }

        .title {
            padding: 1rem;
        }

        .features {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                align-items: center;
                gap: .75rem;

                &+* {
                    margin-top: .60rem;
                }
            }

            .icon {
                background-color: var(--color-primD1);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--c-white);
                border-radius: 50%;
                width: 18px;
                height: 18px;

                svg {
                    width: 14.3px;
                    height: 14.3px;
                }
            }

            &+* {
                margin-top: 1.25rem;
            }
        }
    }

}