.contPrim {
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(5%) grayscale(10%) contrast(125%);
  }

  & .contElempadre {
    height: 98%;
    width: 47%;
    position: absolute;
    padding: 1px 1px 1px 1px;
    display: flex;
    align-content: center;
    align-items: center;

    & .contElem {
      height: 70%;
      width: 100%;
      position: absolute;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;

      & .contText {
        position: absolute;
        z-index: 1;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
        position: absolute;
        color: #fff7f5;
        font-style: italic;
        font-size: x-large;
        padding: 15px;
        animation: upercase 1.5s forwards 0.1s;
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
      }

      & .contText h1 {
        font-size: 20px;
        font-weight: 700;
        background: #fff;
        padding: 15px 10px;
        border-radius: 5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: #fff;
        background: #ff004c9c;
        backdrop-filter: blur(5px);
      }
    }
  }
}

@media (max-width: 1600px) {
  .containerBtnPromos {
    width: 26%;
  }
}

@media (max-width: 1500px) {
  .containerBtnPromos {
    width: 28%;
  }
}

@media (max-width: 1400px) {
  .containerBtnPromos {
    width: 30%;
  }
}

@media (max-width: 1300px) {
  .containerBtnPromos {
    width: 35%;
  }
}

/* Bloque de Cards de planes partner */
.contPlanPartner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 50px 20px;
  width: 100%;
  place-items: center;
}

@keyframes upercase {
  0% {
    transform: scale(0.0001);
  }

  100% {
    transform: scale(1);
  }
}